
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAMELUMGRADUM</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '../../static/css/about.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <link rel="icon"  href="{% static '../../static/Images/6.png' %}">
    <!-- Add any other meta tags or external stylesheets here -->
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static '../../static/Images/6.png' %}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000">Main</a></li>
                <li><a href="http://127.0.0.1:8000/orders/">Orders</a></li>
                <li><a href="https://maps.app.goo.gl/y23sUkcNf8fsb6Ru6">Location</a></li>
                <li><a href="http://127.0.0.1:8000/reservation/">Reservation</a></li>
                <li><a href="http://127.0.0.1:8000/Menu">Menu</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </nav>
    </header>

    <section class="main-content">
        <h2 class="about-heading">About CamelumGradum</h2>
        <div class="about_camelum">
            <p class="about-description">CamelumGradum, the Latin name for "camel step" was created by Eng. Nawaf Abdullah Al Taleb in 2017 in Riyadh. CamelumGradum is a specialist and professional cafe known well in France (Paris), Italy (Vatican City/Rome), Netherlands (Amsterdam), and Turkey (Istanbul).
            <br>
            <br>
            Our story begins in 2016 when Eng. Nawaf was studying Software Engineering. Nawaf, a coffee enthusiast and professional barista, decided to establish the Saudi brand CamelumGradum. Our beans are sourced from specialist farms in Columbia, Costa Rica, Ethiopia, Yemen, Ghana, Saudi Arabia, and France.
            <br>
            <br>
            Have a great journey at our Cafe!
            <br>
            <br>
            <br>
            from 6:00 AM to 10:00 PM Everyday
            <br>
            <br>
            from 1:00 PM to 10:00 PM Friday
        </p> 
            <img id="background" src="{% static '../../static/Images/1.jpg' %}" class="about-image" alt="Cafe Image" width="1000px" height="500px">
        </div>
        <div class="about-video">
                <Br>
                <br>
                <h2>come to our cafe!</h2>
                <video controls>
                    <source src="{% static '../../static/mediafiles/1.mp4'%}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <br>
                <br>
                <br>
                <br>
        </div>
        <div class="about-message">
            <img id="background2" src="{% static '../../static/Images/6.png' %}" alt="message" width="250px" height="250px">

            <h3>message of director Nawaf ...</h3>
            <div class="about-message">
                <div class="center-align">
                    In the shadows of apocalypse, where angels dance,
                    End of Evangelion, a tragic cosmic romance.
                    Neon lights flicker, echoing souls in distress,
                    A tapestry of despair, where dreams coalesce.
            
                    Asuka and Shinji, bound by fate's cruel hand,
                    Navigating the chaos, in a barren wasteland.
                    Minds intertwined, grappling with their plight,
                    Amidst shattered illusions, seeking solace in the night.
            
                    The sky painted crimson, with echoes of their cries,
                    A symphony of sorrow, beneath desolate skies.
                    In the crucible of existence, where truths unfold,
                    End of Evangelion, a story never told.
            
                    Through shattered dreams and broken reverie,
                    The end is but a beginning, a journey to be free.
                    In the depths of despair, hope shall arise,
                    End of Evangelion, where destiny lies.
                </div>
            </div>
            
        </div>
        <Br>
        <Br>
        <br>
        <Br>
        <Br>
        <br>
        <Br>
        <Br>
        <br>
        <Br>
        <Br>
        <br>
    </section>

    <footer>
        <div class="footer-menu">
            <ul>
                <li><a href="#"><img src="{% static '../../static/Images/x.png' %}" width="30px" height="30px" alt="X.com"></a></li>
                <li><a href="#"><img src="{% static '../../static/Images/instagram.png' %}" width="30px" height="30px" alt="instagram.com"></a></li>
                <li><a href="#"><img src="{% static '../../static/Images/snapchat.png' %}" width="30px" height="30px" alt="snapchat.com"></a></li>
            </ul>
        </div>
        <p>2024 CamelumGradum Cafe | All Rights Reserved</p>
    </footer>
</body>
</html>
