
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '../../static/css/Menu.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <link rel="icon"  href="{% static '../../static/Images/6.png' %}">
    <title>CAMELUM Orders</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static '../../static/Images/6.png' %}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/">Main</a></li>
                <li><a href="https://maps.app.goo.gl/y23sUkcNf8fsb6Ru6">Location</a></li>
                <li><a href="http://127.0.0.1:8000/reservation/">Reservation</a></li>
                <li><a href="http://127.0.0.1:8000/orders/">Orders</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="http://127.0.0.1:8000/about">About</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="menu">
            <div class="heading">
                <h1>CamelumGradum</h1>
                <h3>&mdash; MENU &mdash; </h3>
            </div>
            <div class="food-items">
                <img src="{% static '../../static/Images/Menu1.jpg' %}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Espresso</h5>
                        <h5 class="price"> 12-SAR </h5>
                    </div>
                    <p>CamelumGradum Classic Espresso made by high quality beans , you can choose the bean from our directory in the menu 
                        you could add the amount of shots that you want
                    </p>

                </div>
            </div>
    
            <div class="food-items">
                <img src="{% static '../../static/Images/Menu2.jpg' %}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Latte De France</h5>
                        <h5 class="price"> 15-SAR </h5>
                    </div>
                    <p>Came from France/Paris The Latte De France a classic French coffee recipe made at CamelumGradum
                        you could add the amount of shots that you want , you can choose the bean from our directory in the menu.
                    </p>

                </div>
            </div>
    
            <div class="food-items">
                <img src="{% static '../../static/Images/Menu4.jpg' %}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Cappuchino  Romani Imperii</h5>
                        <h5 class="price"> 20-SAR </h5>
                    </div>
                    <p>CamelumGradum Offers you the new and the old classic Roman Empire legenaries Coffee , drank by the centorians before the battle
                        The Roman Empire lost the battle of canni because they didn't order The Cappuchino  Romani Imperii.
                    </p>
                   
                </div>
            </div>
    
            <div class="food-items">
                <img src="{% static '../../static/Images/Menu5.jpg' %}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Karak Tea</h5>
                        <h5 class="price"> 18-SAR </h5>
                    </div>
                    <p>Came from india the well known Karak Tea is available at CamelumGradum , could be ordered as a cup 
                        or a pot.
                    </p>
                  
                </div>
            </div>
    
            <div class="food-items">
                <img src="{% static '../../static/Images/Menu7.jpg' %}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Noctis La Lavander</h5>
                        <h5 class="price"> 30-SAR </h5>
                    </div>
                    <p>The violet lavander from France , could be ordered as a cup or a tea pot</p>
                 
                </div>
            </div>
    
            <div class="food-items">
                <img src="{% static '../../static/Images/Menu8.jpg' %}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Ottoman Coffee</h5>
                        <h5 class="price"> 12-SAR </h5>
                    </div>
                    <p>The Coffee of the saltan Soluman the magnificent is now served in CamelumGradum, Turkish coffee 
                        with hazulnuts
                    </p>
                
                </div>
            </div>

            <div class="food-items">
                <img src="{% static '../../static/Images/Menu9.jpg' %}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Arabic Coffee</h5>
                        <h5 class="price"> 40-SAR </h5>
                    </div>
                    <p>The Arabian Coffee Mother of all , served in many styles [Najd , Hejaz , Makkah , Madinah , Abaysian , Persian , Cario].</p>
                
                </div>
            </div>

            <div class="food-items">
                <img src="{% static '../../static/Images/Menu10.jpg' %}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Ice Carmel Machiato</h5>
                        <h5 class="price"> 20-SAR </h5>
                    </div>
                    <p>The Famous Carmel Drink , Salted Carmel , Regular Carmel , Could be served as hot Drink.</p>
                
                </div>
            </div>

            <div class="food-items">
                <img src="{% static '../../static/Images/Menu13.jpg' %}">
                <div class="details">
                    <div class="details-sub">
                        <h5>Kunafa</h5>
                        <h5 class="price"> 10-SAR </h5>
                    </div>
                    <p>The Best Arabian Deseret , Nablis , Trablis , Palistine , Turkish and more styles 
                        Cheese , cream , pistachio , Chocolate , lotus , and more 
                    </p>
                
                </div>
            </div>

            <div class="food-items">
                <img src="{% static '../../static/Images/Menu14.jpg' %}">
                <div class="details">
                    <div class="details-sub">
                        <h5>French tart</h5>
                        <h5 class="price"> 20-SAR </h5>
                    </div>
                    <p>Classic French Tart Come in many diffrenet styles , Fruits , lemon , cream , Castered , Chocolate 
                        Lotus , beanutbutter, pistachio.
                    </p>
                
                </div>
            </div>
        </div>    
    </section>
    <footer>
        <div class="footer-menu">
            <ul>
                <li><a href="https://twitter.com/Nawaf73696845"><img src="{% static '../static/Images/x.png' %}" width="30px" height="30px" alt="X.com"></a></li>
                <li><a href="https://www.instagram.com/sora_.9/"><img src="{% static '../static/Images/instagram.png' %}" width="30px" height="30px" alt="instagram.com"></a></li>
                <li><a href="https://www.snapchat.com/?locale=ar-AR"><img src="{% static '../static/Images/snapchat.png' %}" width="30px" height="30px" alt="snapchat.com"></a></li>
            </ul>
        </div>
        <p>2024 CamelumGradum Cafe | All Rights Reserved</p>
    </footer>
</body>
</html>