<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAMELUMGRADUM</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '../../static/css/Welcome.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <link rel="icon"  href="{% static '../../static/Images/6.png' %}">
    <!-- Add any other meta tags or external stylesheets here -->
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static '../../static/Images/6.png' %}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/orders/">Orders</a></li>
                <li><a href="https://maps.app.goo.gl/y23sUkcNf8fsb6Ru6">Location</a></li>
                <li><a href="http://127.0.0.1:8000/reservation/">Reservation</a></li>
                <li><a href="http://127.0.0.1:8000/Menu">Menu</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="http://127.0.0.1:8000/about">About</a></li>
            </ul>
        </nav>
    </header>

    <section class="main-content">
        <div class="Location">
            <h1>camelumgradum</h1>
            <h3>Cafe</h3>
            <br>
            <br>
            <h4>Riyadh</h4>
            <h4>Saudi Arabia</h4>
            <br>
            <br>
            <h4>Riyadh Park</h4>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a id="Reservation" href="http://127.0.0.1:8000/reservation/">Make Reservation</a>
    </section>

    <footer>
        <div class="footer-menu">
            <ul>
                <li><a href="https://twitter.com/Nawaf73696845"><img src="{% static '../../static/Images/x.png' %}" width="30px" height="30px" alt="X.com"></a></li>
                <li><a href="https://www.instagram.com/sora_.9/"><img src="{% static '../../static/Images/instagram.png' %}" width="30px" height="30px" alt="instagram.com"></a></li>
                <li><a href="https://www.snapchat.com/?locale=ar-AR"><img src="{% static '../../static/Images/snapchat.png' %}" width="30px" height="30px" alt="snapchat.com"></a></li>
            </ul>
        </div>
        <p>2024 CamelumGradum Cafe | All Rights Reserved</p>
    </footer>
</body>
</html>
