<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social_icon">
            <li><a href="#"><img src="{% static '../../static/Images/x.png' %}"></a></li>
            <li><a href="#"><img src="{% static '../../static/Images/instagram.png' %}"></a></li>
            <li><a href="#"><img src="{% static '../../static/Images/snapchat.png' %}"></a></li>
        </ul>
        <ul class="Menu">
            <li><a href="http://127.0.0.1:8000/orders/">Orders</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Reservation</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="http://127.0.0.1:8000/about">About</a></li>
        </ul>
        <p>2024 CamelumGradum Cafe | All Rights Reserved</p>
    </footer>


</body>
</html>