<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="header">
        <!-- could be changed into img-->
        <a href="" class="Logo">Logo</a>

        <nav class="navbar">
                <a href="#">Orders</a>
                <a href="#">Location</a>
                <a href="#">Reservation</a>
                <a href="#">Menu</a>
                <a href="#">Support</a>
                <a href="#">About</a>
        </nav>
    </header>
</body>
</html>