
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAMELUMGRADUM</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/Reservation_Success.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <link rel="icon"  href="{% static '../static/Images/6.png' %}">
    <!-- Add any other meta tags or external stylesheets here -->
</head>
<body>
    <h2>Reservation Successful</h2>
    <p>Your reservation has been successfully submitted.</p>
    <p>Thank You!</p>
</body>
</html>
